# Server Configuration
PORT=4444
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://pablomaldonado422_db_user:Mbt3ylAXTIBSzhku@cluster0.tgnhplr.mongodb.net/gestor-finanzas?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=tu-secret-key-desarrollo-cambiar-en-produccion
JWT_EXPIRES_IN=7d

# Frontend URL (para enlaces en emails)
FRONTEND_URL=http://localhost:4000

